<!DOCTYPE html>
<html ng-app="App" ng-controller="panelElementsCtrl as ctr">
<head>
	<title>Panel Elements</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="row">
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="home.html">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="login.html">Login</a></li>
						<li><a href="#contact">Contact</a></li>
						<li class="active"><a href="panelElements.html">Panels</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#about">Mon compte</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="row">
		<div class="container">
			<div class="jumbotron">
				<div class="row">
					<h1>Elements</h1>
					<button class="btnn btn-lg btn-success pull-right">
						<span  class="glyphicon glyphicon-ok" ng-click="confirmElements()">	Confirm these elements</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div ng-repeat="elt in elementList | orderBy:'-priority' track by elementList.indexOf(elt)">
		<div class="container">
			<table class="table">
				<tr style="border:none">
					<th rowspan="2" class="text-center"style="border:none">{{elt.priority}}</th>
					<td class="jumbotron text-center"style="border:none">
						<h4>{{elt.name}}</h4>
					</td>
				</tr>
				<tr>
					
					<td class="jumbotron col-sm-6 text-center" style="background-color:#f4f40a; border:none" contenteditable>
						<h3>{{elt.type}}</h3>
					</td>
					<td class="jumbotron col-sm-6 text-center" style="background-color:#35a79c; border:none">
						<h3>{{elt.content.name}}</h3>
					</td>
				</tr>
				<tr>
					<td style="border:none"></td>
					<td style="border:none"></td>
					<td class="text-right" style="border:none">
						<button ng-click="deleteElement(elt)" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-remove"></span> </button>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="container">
			<form role="form" ng-submit="addElement(element)" method="post" class="element-form">
				<div class="form-group">
					<div class="form-group col-sm-6">
						<label class="sr-only" for="form-name">Element name</label>
						<input type="text" name="form-name" ng-model="element.name" class="element-form form-control" placeholder="Name..." required>
					</div>
					<div class="form-group col-sm-6">
						<select name="form-content" placeholder="Content..." class="form-content form-control" id="form-content" ng-model="element.type" ng-change="newContent()" required>
							<option value="Video">Video</option>
							<option value="Image">Image</option>
							<option value="Patate">Patate</option>
							<option value="Pasteque">Pasteque</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="form-group col-sm-3" >
						<label  for="form-priority" style="display:inline-block">Element priority</label>
						<input type="number" name="form-priority" ng-model="element.priority" class="element-form form-control" placeholder="0" min="1" max="4" required>
					</div>
					<div class="form-group col-sm-6 col-sm-offset-3">
						<label for="form-type">Selected file</label>
						<input type="text" name="form-type" ng-model="element.content.name" class="element-form form-control" placeholder={{element.content.name}} readonly="readonly" value={{element.content.name}}>
					</div>
				</div>
				<div class="form-group" ng-show="element.type == 'Image' || element.type == 'Video'">
					<!--<input type="file" class="btn btn-success btn-lg" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>-->
					<div class="container">
						<div class="col-md-12">

							<div class="well">
								<div id="myCarousel" class="carousel slide" data-interval="false">

									<!-- Carousel items -->
									<div class="carousel-inner" id="carouselItems">
										<div class="item active">
											<div class="row" id="activeItems">
											</div>
											<!--/row-->
										</div>
										<!--/item-->
									</div>
									<!--/carousel-inner-->
									<a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>

									<a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
								</div>
								<!--/myCarousel-->
							</div>
							<!--/well-->
						</div>
					</div>
					<a href="media-content.html" class="btn btn-default btn-file btn-primary pull-right">Add extra contents</a>
					
				</div>
				
				<div class="form-group">
					<button id="newElementbutton" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-plus-sign"></span> </button>
				</div>
			</form>
		</div>
	</div>


	<style type="text/css">
	.btn-file {
		position: relative;
		overflow: hidden;
	}
	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
	.btn{
		box-shadow:none;
	}
	.selectedImg:target{
 		-webkit-box-shadow: 0px 0px 50px rgba(0,50,120,0.8);
  		-moz-box-shadow: 0px 0px 50px rgba(0,50,120,0.8);
  		box-shadow: 0px 0px 50px rgba(0,50,120,0.8);
	}
	</style>

	<script src="lib/jquery-1.11.3.min.js"></script>
	<script src="lib/bootstrap.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script type="text/javascript" src="js/application/App.js"></script>
	<script type="text/javascript" src="js/controllers/panelElementsCtr.js"></script>
	<script type="text/javascript" src="js/controllers/loginCtr.js"></script>
	<script type="text/javascript" src="js/services/panelService.js"></script>
	<script type="text/javascript" src="js/services/mediaService.js"></script>
	<script type="text/javascript" src="js/services/loginService.js"></script>
	<script type="text/javascript" src="lib/angular-dragdrop.min.js"></script>
	<script type="text/javascript" src="lib/jquery-ui.min.js"></script>
	

</body>
</html>