<!DOCTYPE html>
<html ng-app="App" ng-controller="panelElementsCtrl as ctr">
<head>
	<title>Panel Elements</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!--------------	Navbar		---------------->
	<div class="row">
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="home.html">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="login.html">Login</a></li>
						<li><a href="#contact">Contact</a></li>
						<li class="active"><a href="panelElements.html">Panels</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#about">Mon compte</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<!--------------	Body	---------------->

	<div class="col-sm-4 col-sm-offset-1 container">
		<div class="row">
			<div class="container jumbotron col-sm-12">
				<h3 class="text-center">{{elementList[0].name}} {{elementList[0].type}}</h3>
			</div>
		</div>
		<div class="row">
			<!--<div class="thumbnail col-sm-6 text-center" data-drop="true" data-jqyoui-options jqyoui-droppable style="height:160px">-->
				<div class="jumbotron text-center col-sm-6" data-drag="false" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true, containment:'parent'}">
					<h3>{{elementList[2].name}} {{elementList[2].type}}</h3>
				</div>
			<!--</div>-->
			<div class="container jumbotron col-sm-6 text-center" style="background-color:red">
				<h3>{{elementList[3].name}} {{elementList[3].type}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="container jumbotron col-sm-12">
				<h3 class="text-center">{{elementList[1].name}} {{elementList[1].type}}</h3>
			</div>
		</div>
	</div>

	<div class="container col-sm-4 col-sm-4 col-sm-offset-2">
		<div class="form-top">
			<div class="form-top-left">
				<h3>Is this configuration satisfying?</h3>
				<div class="row">
					<h3>You can validate this panel</h3>
					<button class="btn btn-success btn-lg pull-right"> <span class="glyphicon glyphicon-ok"> Validate</span> </button>
				</div>
				<h3>Or edit elements priority</h3>
			</div>
		</div>
		<div class="form-bottom">
			<form role="form" class="edit-form">
				<div class="form-group" ng-repeat="elt in elementList" ng-hide="elt==null">
					<div class="form-group col-sm-8">
						<h4 class="col-sm-6">Element {{elt.name}}: </h4>
					</div>
					<div class="col-sm-3 form-group">
						<input type="number" ng-model="elt.priority" class="form-control" onchange="angular.element(this).scope().editPreview()">
					</div>
				</div>
			</form>
		</div>
	</div>


	<!-------------- Lib -------------->
	<script src="lib/jquery-1.11.3.min.js"></script>
	<script src="lib/bootstrap.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script type="text/javascript" src="js/application/App.js"></script>
	<script type="text/javascript" src="js/controllers/panelElementsCtr.js"></script>
	<script type="text/javascript" src="js/services/panelService.js"></script>
	<script type="text/javascript" src="lib/angular-dragdrop.min.js"></script>
	<script type="text/javascript" src="lib/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/services/mediaService.js"></script>
	<script type="text/javascript" src="js/services/loginService.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		angular.element(this).scope().editPreview();
	})</script>


</body>
</html>